.person {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin: 1vw;
}

.picture {
    display: flex;
    flex: 1;
    overflow: hidden;
    object-fit: cover;
}

.text {
    display: flex;
    flex: 3;
    align-items: center;
    flex-direction: column;
}

img {
    object-fit: cover;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
}